
.button {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7ccec;
    font-weight: bolder;
    font-size: x-large;
    color: #352b3d;
}